body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #c695d3;
    color: rgb(233, 190, 220);
    text-align: center;
    padding: 40px 0;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

header p {
    margin: 10px 0 20px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

section {
    padding: 80px 40px;
    max-width: 1000px;
    margin: auto;
    background: rgb(245, 205, 245);
    margin-bottom: 80px;
    border-radius: 40px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #fbd1eb;
}

.project {
    background-color: #e3f2fd;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.footer {
    text-align: center;
    padding: 15px;
    background-color: #c48dba;
    color: rgb(245, 203, 245);
}
.card-body {
  background-color: #e3f2fd;
  border-radius: 10px;
}
#about{
    min-width: 90vh;
    
}
#contact{
    min-width: 90vh;
   
}
#cmp{
    min-width: 90vh;
}
